*, 
*::before,
*::after {

margin: 0;
padding: 0;
box-sizing: inherit

}

/* body {
    box-sizing: border-box;
    border-style: solid;
    border-color: fuchsia;


} */


li {

background-color: aqua;
text-align: center;

}

header {
margin: 1px;
/* background-image: url(/Users/tremaynejohnson/Pictures/Photos Library;photoslibrary/resources/renders/B/BB8711C7-E80B-4155-B8D7-925FCE859DE3_1_201_a.jpeg); */
text-align: center;
padding: 100px;
border-radius: 25px;
border-style:groove;
border-width: 10px;
border-color: gold;


}

main {

    text-align: center;

}


h1{
font-size: medium;
font-family: cursive;
font-weight: 900;
text-align: center;
background-color: chartreuse;
border-radius: 50px;
border-style: solid;
font-size: 50px;
}
h2 {
margin: 10px;
margin-top: 20px;
background-color: chartreuse;
border-radius: 50px;
border-style:solid;
border-style: inset;

}

